[evimed]
consumerKey=html5TestConsumer
consumerSecret=html5TestAPIOAuthKey
request_token_url=/oauth/request_token
access_token_url=/oauth/access_token
authorize_url=/oauth/authorize
logout_url=/oauth/logout
api_patient_url=/services/oauth/rest/patient
api_trialrecruitment_url=/services/oauth/rest/trialrecruitment
api_trialrecruitment_status_url=/services/oauth/rest/trialrecruitment/patient
api_trialrecruitment_match_url=/services/oauth/rest/trialrecruitment/match
api_trialsearch_url=/services/oauth/rest/recommendation-search/patient
api_profile_url=/services/oauth/rest/profile
